<% include ./partials/header %>

	<div class="main-intro">
		<div>
			<div class="title">
				<p>QUICK QUIZ</p>
			</div>
			<div>
				<p class="title-description">Fast and easy way to make quizzes</p>
				<hr class="hr-intro">
			</div>
			<div>
				<a href="/quizzes/new"><button class="btn btn-lg btn-info">Create a Quiz</button></a>
				<a href="/quizzes"><button class="btn btn-lg btn-primary">Browse Quiz</button></a>
			</div>
		</div>
	</div>

	<div class="main-instruction">
		<div class="instruction">
			<div class="title-main">
				<p>5 Easy Steps:</p>
				<!-- <hr class="hr-steps"> -->
			</div>
			<div class="steps">
				<div class="single-step">
					<div class="number">1</div>
					<div class="explain">
						<p>Add a title and select a category</p>
					</div>
				</div>				
				<div class="single-step">
					<div class="number">2</div>
					<div class="explain">
						<p>Write a question</p>
					</div>
				</div>
				<div class="single-step">
					<div class="number">3</div>
					<div class="explain">
						<p>Add correct answer y 3 alternatives</p>
					</div>
				</div>
				<div class="single-step">
					<div class="number">4</div>
					<div class="explain">
						<p>Repeat step 2 and 3 for more questions</p>
					</div>
				</div>
				<div class="single-step">
					<div class="number">5</div>
					<div class="explain">
						<p>Post quiz</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main-category">
		<div class="category">
			<div class="title-main">
				<p>6 Categories</p>
			</div>
			<div>
				<div>
					<div class="single-category">
						<img class="category-img img-circle" src="img/Language.jpg">
						<p class="category-name">Language</p>
					</div>				
					<div class="single-category">
						<img class="category-img img-circle" src="img/Math.jpg">
						<p class="category-name">Math</p>
					</div>				
					<div class="single-category">
						<img class="category-img img-circle" src="img/Science.jpg">
						<p class="category-name">Science</p>
					</div>
				</div>
				<div>
					<div class="single-category">
						<img class="category-img img-circle" src="img/Technology.jpg">
						<p class="category-name">Technology</p>
					</div>				
					<div class="single-category">
						<img class="category-img img-circle" src="img/History.jpg">
						<p class="category-name">History</p>
					</div>				
					<div class="single-category">
						<img class="category-img img-circle" src="img/Gaming.png">
						<p class="category-name">Gaming</p>
					</div>
				</div>
			</div>
		</div>
	</div>

<% include ./partials/footer %>