<% include ../partials/header %>

	<div class="container">
		<div class="row">
			<div class="new-form">
				<h1 class="login-h1 new-h1">New Quiz</h1>
				<form action="/quizzes" method="POST">
					<div class="form-group">
						<input class="form-control" type="text" name="name" placeholder="Quiz name" required>
					</div>
					<div class="form-group">
						<p class="new-category">Select a category: </p>
						<select class="selectpicker form-control" name="category">
							<option>Math</option>
							<option>Language</option>
							<option>Science</option>
							<option>Technology</option>
							<option>History</option>
							<option>Gaming</option>
						</select>
					</div>
					<div class="form-group">
						<button class="btn btn-lg btn-primary btn-block">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>

<% include ../partials/footer %>