<% include ../partials/header %>

	<div class="container">
		<div class="row">
			<div class="new-form">
				<h1 class="login-h1 new-h1">New Question</h1>
				<form action="/quizzes/<%= quiz._id %>/questions" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="question" placeholder="Write a question" required>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="correctAnswer" placeholder="Correct answer" required>
				</div>
					<div class="form-group">
					<div class="form-group">
					<input class="form-control" type="text" name="answer1" placeholder="Wrong answer" required>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="answer2" placeholder="Wrong answer" required>
				</div>				
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="answer3" placeholder="Wrong answer" required>
				</div>
                <div class="form-group">
                	<button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>			
				</form>
				<a href="/quizzes">Go Back</a>
			</div>
		</div>
	</div>

<% include ../partials/footer %>