<% include ../partials/header %>

	<div class="container">
		<div class="row">
			<div class="score-form">
				<h1 class="question-title new-h1">SCORE</h1>
				<h1 class="question-title new-h1 score-display"><%= score %></h1>
			</div>
		</div>
	</div>

<% include ../partials/footer %>